#root {
  max-width: 51em;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.with {
  margin: 0.5em 0 1.5em;
  font-size: 1.2em;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.explain {
  text-align: left;
}
